{% extends 'Dashboard/main.html' %}{% load static %} {% load custom_tags %}
{% block content %}
<div id="content">

    <div class="content-admin-main">
        <h1  class="mt-30 mb-30">Ma'ruza: <small>{{lecture}}</small></h1>
    <h3>Talaba: <b>{{request.user.get_full_name}}</b></h3>
    
    <hr>
    <form action="" method="POST"> {% csrf_token %}
        {% for t in testes %}
                <h4 class="mt-30" style="display:flex">{{forloop.counter}}.   {{t.question|safe}}</h4>
                <div class="">{% if t.image %}<img style="border-radius: 20px;" width="500px" src="{{t.image.url}}" alt=""> {% endif %}</div>
                  <div  class="form-check">
                    {% for a in t.answers|shuffle %}
                    <label style="display: flex; align-items:center;"><input style="margin-right: 7px;" type="radio" class="primary-radio" name="{{t.id}}" value="{{a.name}}" required />{{a.name|safe}}</label>
                    {% endfor %}
                    </div>
        {% endfor%}
            <button class="mb-30 mt-30 genric-btn primary radius" type="submit()" >Testni yakunlash</button>
    </form>
    </div>
</div>
{% endblock %}