{% extends 'Dashboard/main.html' %} {% load static %}

{% block content %}
<style>
    th, td {
        padding: 10px;
    }
    select {
        padding: 10px 20px;
    height: auto !important;
    margin: 10px;
    }
</style>
<div class="container" id="content">
    <h1 style="margin-top: 80px; font-size:50px; font-weight:500;" class="mt-30 mb-30">Test ishlash uchun fanni va unga mos ma'ruzalardan birini tanlang</h1>
    <p style="color: red; font-weight: bold">{% if error %} {{error}} {% endif %}</p>
    
    <form action="" method="POST" style="display: flex; flex-direction: column;"> {% csrf_token %}
        <label for="">Sport turini tanlang</label>
        <select class="default-select" name="SportType" id="science">
            <option disabled hidden selected value>
               Tanlang
            </option>
            {% for l in SportType %}
            <option value="{{l.id}}">{{l.name}}</option>
            {% endfor %}
        </select>
        
       <div style="display: flex; justify-content: end; margin-right: 10px;"> <button style="width: max-content;" type="submit()" class="genric-btn primary radius">Test ishlash</button></div>
    </form>
    
    
    
    
    
    
    
    <hr>
    <h3>Test natijalari</h3>
    <table border="1" class="mt-30 mb-30" style="width:100%">
        <tr>
            <th>T/r</th>
            <th>Ma'ruza</th>
            <th>Savollar soni</th>
            <th>Natija</th>
            <th>Sana</th>
        </tr>
        {% for r in results %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'test_lectures_result' r.id %}">{{r.lecture.name}}</a></td>
            <td>{{r.tests.count}}</td>
            <td>{{r.result}}%</td>
            <td>{{r.date|date:'d.m.Y H:i'}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}