{% extends 'Dashboard/main.html' %} {% load static %}

{% block content %}
<style>
    th, td {
        padding: 10px;
        
    }
</style>
<div class="container" id="content">
    <h1 class="mt-30 mb-30">Test natijasi</h1>
    <hr>
    <blockquote class="generic-blockquote">
        <table border="1" class="mt-30 mb-30" style="width:100%">
            <tr>
                <th>Ma'ruza</th>
                <th>Savollar soni</th>
                <th>To'g'ri javoblar soni</th>
                <th>Natija</th>
                <th>Sana</th>
            </tr>
            <tr>
                <td>{{r.lecture.name}}</td>
                <td>{{r.tests.count}}</td>
                <td>{{r.is_trues}}</td>
                <td>{{r.result}}%</td>
                <td>{{r.date|date:'d.m.Y H:i'}}</td>
            </tr>
        </table>
    </blockquote>
    
    <table  border="1" class="mt-30 mb-30" style="width:100%;">
        <tr>
            <th>T/r</th>
            <th>Savol</th>
            <th>Belgilangan javob</th>
            <th>To'g'ri javob</th>
        </tr>
        {% for test in r.tests.all %}
        <tr><td>
            {% if test.is_true %}
           <i class="fa-solid fa-check" style="color: #0f0;"></i>
            {% else %}
           <i class="fa-solid fa-xmark" style="color: red;"></i>
            {% endif %}
           {{forloop.counter}}</td>
            <td style="font-weight: bold;">{{test.question.question|safe}}</td>
            {% if test.is_true %}
            <td colspan="2" style="color: blue">{{test.answer|safe}}</td>
            {% else %} 
            <td style="color: red">{{test.answer|safe}}</td>
            <td style="color: green">{{test.question.ans|safe}}</td>
            {% endif %}
           
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}