{% extends 'main.html' %} {% load static %}

{% block content %}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/1.jpg);">
        <div class="overlay-main site-bg-white opacity-01"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Blog</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->                            
                
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                
                <!-- BREADCRUMB ROW END -->                        
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->


    <!-- OUR BLOG START -->
    <div class="section-full p-t120  p-b90 site-bg-white">
        <div class="container">

            <div class="masonry-wrap row d-flex">
                <!--Block one-->
                <div class="masonry-item col-lg-4 col-md-12">

                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg1.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mark Petter</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">How to convince recruiters and get your dream job</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
                
                <!--Block two-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg2.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">David Wish</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">5 things to know about the March
                                        2023 jobs report</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
                
                <!--Block three-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg3.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mike Doe</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Job Board is the most important 
                                        sector in the world</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>
                        
                </div>
                
                <!--Block Four-->
                <div class="masonry-item col-lg-4 col-md-12">

                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg4.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mark Petter</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">How to convince recruiters and get your dream job</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
            
                <!--Block Five-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg5.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">David Wish</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">5 things to know about the March
                                        2023 jobs report</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
                
                <!--Block Six-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg6.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mike Doe</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Job Board is the most important 
                                        sector in the world</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>
                        
                </div>

                <!--Block Seven-->
                <div class="masonry-item col-lg-4 col-md-12">

                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg7.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mark Petter</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">How to convince recruiters and get your dream job</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
                
                <!--Block Eight-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg8.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">David Wish</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">5 things to know about the March
                                        2023 jobs report</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>

                </div>
                
                <!--Block Nine-->
                <div class="masonry-item col-lg-4 col-md-12">
                    
                    <div class="blog-post twm-blog-post-1-outer">
                        <div class="wt-post-media">
                            <a href="blog-single.html"><img src="images/blog/latest/bg9.jpg" alt=""></a>
                        </div>                                    
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date">March 05, 2023</li>
                                    <li class="post-author">By <a href="candidate-detail.html">Mike Doe</a></li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Job Board is the most important 
                                        sector in the world</a>
                                </h4>
                            </div>
                            <div class="wt-post-text ">
                                <p>
                                    New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit.
                                </p>
                            </div>
                            <div class="wt-post-readmore ">
                                <a href="blog-single.html" class="site-button-link site-text-primary">Read More</a>
                            </div>                                        
                        </div>                                
                    </div>
                        
                </div>
                                            
            </div>

            <div class="pagination-outer">
                <div class="pagination-style1">
                    <ul class="clearfix">
                        <li class="prev"><a href="javascript:;"><span> <i class="fa fa-angle-left"></i> </span></a></li>
                        <li><a href="javascript:;">1</a></li>
                        <li class="active"><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a class="javascript:;" href="javascript:;"><i class="fa fa-ellipsis-h"></i></a></li>
                        <li><a href="javascript:;">5</a></li>
                        <li class="next"><a href="javascript:;"><span> <i class="fa fa-angle-right"></i> </span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>   
    <!-- OUR BLOG END -->
  
    

</div>

{% endblock %}