{% extends 'main.html' %} {% load static %}

{% block content %}
<div class="page-content">
    <!--Banner Start-->
    <div class="twm-home-11-banner-section">
        <div class="container">
            <div class="row">
                
                <!--Left Section-->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="twm-bnr-left-section">
                        <div style="font-size: 33px; font-weight: 900; "  class="twm-bnr-title-large">SPORT MAKTABLARIDA YOSH SPORTCHI 
                        <span class="site-text-primary">OʻQUVCHINING FAOLIYATI </span></div> 
                        <div class="twm-bnr-search-bar">
                            <form>
                                <div class="row">
                                    <!--All Category-->
                                    <div class="form-group col-xl-4 col-lg-12 col-md-12">
                                        <label>Type</label>
                                        <select class="wt-search-bar-select selectpicker"  data-live-search="true" title="" id="j-All_Category" data-bv-field="size">
                                            <option>Select Category</option>
                                            <option>All Category</option>
                                            <option>Web Designer</option>
                                            <option>Developer</option>
                                            <option>Acountant</option>
                                        </select>
                                    </div>

                                    <!--Location-->
                                    <div class="form-group col-xl-5 col-lg-12 col-md-12">
                                        <label>Location</label>
                                        <div class="twm-inputicon-box">
                                            <input name="username" type="text" required class="form-control" placeholder="Search...">
                                            <i class="twm-input-icon fas fa-map-marker-alt"></i>
                                        </div>
                                    </div>

                                    <!--Find job btn-->
                                    <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                        <button type="button" class="site-button">Find Job</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="twm-bnr-5-blocks">
                            <span class="twm-title">Our More Candidates</span>
                            <div class="twm-bnr-5-blocks-inner">
                                <div class="twm-pics">
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-1.jpg' %}" alt=""></span>
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-2.jpg' %}" alt=""></span>
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-3.jpg' %}" alt=""></span>
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-4.jpg' %}" alt=""></span>
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-5.jpg' %}" alt=""></span>
                                    <span><img src="{% static 'images/main-slider/slider1/user/u-6.jpg' %}" alt=""></span>
                                </div>
                                <div class="twm-content">
                                    <div class="tw-count-number text-clr-green">
                                        <span class="counter">5000</span>+
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--right Section-->
                <div class="col-xl-6 col-lg-6 col-md-12 twm-bnr-right-main">
                    <div class="twm-bnr-right-content">

                        <div class="bnr-media-wrap">
                            <div class="bnr-media">
                                <img src="{% static 'images/home-11/banner-bg/right-pic1.jpg' %}" alt="#">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Banner End-->

    <!-- ABOUT SECTION START -->
    <div class="section-full p-t120 p-b90 site-bg-white twm-about-1-area">
                
        <div class="container">
            <div class="twm-about-1-section-wrap">
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="twm-about-1-section">
                            <div class="twm-media">
                                <img src="{% static 'images/home-11/about-pic1.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="twm-about-1-section-right">
                            <!-- TITLE START-->
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div>About </div>                                
                                    </div>
                                    <h2 class="wt-title">Millions of jobs. Find the
                                        one that’s right for you.</h2>
                                    
                                </div>
                            <!-- TITLE END-->
                                <ul class="description-list">
                                    <li>
                                        <i class="feather-check"></i>
                                        Full lifetime access
                                    </li>
                                    <li>
                                        <i class="feather-check"></i>
                                        20+ downloadable resources
                                    </li>
                                    <li>
                                        <i class="feather-check"></i>
                                        Certificate of completion
                                    </li>
                                    <li>
                                        <i class="feather-check"></i>
                                        Free Trial 7 Days
                                    </li>
                                </ul>                  
                            
                        </div>
                    </div>

                </div>
            </div>
            <div class="twm-about-1-bottom-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!--icon-block-1-->
                        <div class="twm-card-blocks">
                            <div class="twm-icon pink">
                                <img src="images/main-slider/slider2/icon-2.png" alt="">
                            </div>
                            <div class="twm-content">
                                <div class="tw-count-number text-clr-pink">
                                    <span class="counter">98</span> +
                                </div>
                                <p class="icon-content-info">Job For Countries </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!--icon-block-2-->
                        <div class="twm-card-blocks-2">
                            <div class="twm-pics">
                                <span><img src="images/main-slider/slider2/user/u-1.jpg" alt=""></span>
                                <span><img src="images/main-slider/slider2/user/u-2.jpg" alt=""></span>
                                <span><img src="images/main-slider/slider2/user/u-3.jpg" alt=""></span>
                                <span><img src="images/main-slider/slider2/user/u-4.jpg" alt=""></span>
                                <span><img src="images/main-slider/slider2/user/u-5.jpg" alt=""></span>
                                <span><img src="images/main-slider/slider2/user/u-6.jpg" alt=""></span>
                            </div>
                            <div class="twm-content">
                                <div class="tw-count-number text-clr-green">
                                    <span class="counter">3</span>K+
                                </div>
                                <p class="icon-content-info">Jobs Done</p>
                            </div>
                        </div> 
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!--icon-block-3-->
                        <div class="twm-card-blocks">
                            <div class="twm-icon">
                                <img src="images/main-slider/slider2/icon-1.png" alt="">
                            </div>
                            <div class="twm-content">
                                <div class="tw-count-number text-clr-sky">
                                    <span class="counter">12</span>K+
                                </div>
                                <p class="icon-content-info">Companies Jobs</p>
                            </div>
                        </div>
                    </div>

                    
                    

                </div>
            </div>
        </div>

    </div>   
    <!-- ABOUT SECTION END -->

    <!-- HOW TO GET YOUR JOB SECTION START -->
    <div class="section-full p-t120 p-b90 site-bg-light twm-how-t-get-wrap7">
                
        <div class="container">

            <div class="twm-how-t-get-section">
                <div class="row">

                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="twm-how-t-get-section-left">
                            <div class="section-head left wt-small-separator-outer">
                                <div class="wt-small-separator site-text-primary">
                                    <div>How to get your job</div>                                
                                </div>
                                <h2 class="wt-title">Build Your Personal Account Profile</h2>
                                <p>Create an account for job information that you wanted, get notification
                                    everyday and you can easily apply directly to the company you want
                                    create and account now for free.</p>
                            </div>
                            <div class="twm-how-t-get-bottom">
                                <a href="about-1.html" class="site-button">Edit Profile</a>
                                <div class="twm-left-icon-bx">
                                    <div class="twm-left-icon-media site-bg-primary">
                                        <i class="flaticon-bell site-text-white"></i>
                                    </div>
                                    <div class="twm-left-icon-content">
                                       <h4 class="icon-title">New Interview</h4>
                                       <p>You has new interview today</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="twm-how-t-get-section-right">
                            <div class="twm-media">
                                <img src="images/home-8/hig-pic2.png" alt="#">
                            </div>
                            <div class="twm-left-img-bx bounce">
                                <div class="twm-left-img-media">
                                    <img src="images/home-7/img-bx/pic1.jpg" alt="#">
                                </div>
                                <div class="twm-left-img-content">
                                    <h4 class="icon-title">Complete your profile</h4>
                                    <p>95% Completed</p>
                                </div>
                            </div>
                            <div class="twm-profile-card bounce2">
                                <div class="twm-profile-pic"><img src="images/home-7/img-bx/pic3.jpg" alt="#"></div>
                                <div class="twm-profile-info">
                                    <h4 class="twm-profile-name">
                                        Devid Smith
                                    </h4>
                                    <div class="twm-profile-position">UI/UX Designer</div>
                                    <a class="site-button-link underline">Hire Me!</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>                  
        </div>

    </div>   
    <!-- HOW TO GET YOUR JOB SECTION END -->

   <!-- Jobs Category START -->
   <div class="section-full p-t120 p-b90 site-bg-white job-categories-home-5-wrap twm-bdr-bottom-1">
        <div class="container">
        
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                <div>Browse By Category</div>                                
                </div>
                <h2 class="wt-title">Find the job that’s perfect for you.</h2>
            </div>                  
            <!-- TITLE END-->

        </div>

        <div class="section-content twm-jobs-grid-h5-section-outer">
            <div class="twm-jobs-grid-h5-section overlay-wraper" style="background-image: url(images/home-5/cate-bg.jpg);">
                <div class="overlay-main site-bg-primary opacity-09"></div>
                
                <div class="swiper-container category-5-slider">
                    <div class="swiper-wrapper">

                    <!--1-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-deal"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Marketing & Sale</a>
                                <div class="twm-jobs-available">1526 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--2-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-customer-support"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Customer Help</a>
                                <div class="twm-jobs-available">1526 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--3-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-bars"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Finance</a>
                                <div class="twm-jobs-available">168 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--4-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-dashboard"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Software</a>
                                <div class="twm-jobs-available">300 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--5-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-hr"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Human Resource</a>
                                <div class="twm-jobs-available">125 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--6-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-project-management"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Management</a>
                                <div class="twm-jobs-available">450 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--7-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-user"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Retail & Products</a>
                                <div class="twm-jobs-available">95 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--8-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-repair"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Security Analyst</a>
                                <div class="twm-jobs-available">35 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--9-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-note"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Content Writer</a>
                                <div class="twm-jobs-available">200 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--10-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-coding"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Market Research</a>
                                <div class="twm-jobs-available">140 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--11-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-job"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Marketing & Sale</a>
                                <div class="twm-jobs-available">80 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--12-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-hr-manager"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Customer Help</a>
                                <div class="twm-jobs-available">160 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--13-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-deal"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Marketing & Sale</a>
                                <div class="twm-jobs-available">1526 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--14-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-customer-support"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Customer Help</a>
                                <div class="twm-jobs-available">1526 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--15-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-bars"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Finance</a>
                                <div class="twm-jobs-available">168 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--16-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-dashboard"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Software</a>
                                <div class="twm-jobs-available">300 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--17-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-hr"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Human Resource</a>
                                <div class="twm-jobs-available">125 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--18-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-project-management"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Management</a>
                                <div class="twm-jobs-available">450 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--19-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-user"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Retail & Products</a>
                                <div class="twm-jobs-available">95 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--20-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-repair"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Security Analyst</a>
                                <div class="twm-jobs-available">35 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--21-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-3">
                                <div class="flaticon-note"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Content Writer</a>
                                <div class="twm-jobs-available">200 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--22-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-2">
                                <div class="flaticon-coding"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Market Research</a>
                                <div class="twm-jobs-available">140 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--23-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-4">
                                <div class="flaticon-job"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Marketing & Sale</a>
                                <div class="twm-jobs-available">80 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    <!--24-->  
                    <div class="swiper-slide">
                        <div class="job-categories-home-5">
                            <div class="twm-media cat-bg-clr-1">
                                <div class="flaticon-hr-manager"></div>
                            </div>                                   
                            <div class="twm-content">
                                <a href="job-detail.html">Customer Help</a>
                                <div class="twm-jobs-available">160 Jobs Available</div>
                                
                            </div>                               
                        </div>
                    </div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>
    
    </div>
    <!-- Recruiters END -->



    <!-- OUR BLOG START -->
    <div class="section-full p-t120 p-b90 site-bg-light-purple">
        <div class="container">
           
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                   <div>Our Blogs</div>                                
                </div>
                <h2 class="wt-title">Latest Article</h2>
                
            </div>                  
            <!-- TITLE END-->


            <div class="section-content">
                <div class="twm-blog-post-3-outer-wrap">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <!--Block one-->
                            <div class="blog-post twm-blog-post-3-outer">
                                <div class="wt-post-media">
                                    <a href="blog-single.html"><img src="images/blog/latest/bg10.jpg" alt=""></a>
                                </div>                                    
                                <div class="wt-post-info">
                                    <div class="wt-post-meta ">
                                        <ul>
                                            <li class="post-date">March 05, 2023</li>
                                            <li class="post-author">By <a href="candidate-detail.html">Mark Petter</a></li>
                                        </ul>
                                    </div>
                                    <div class="wt-post-title ">
                                        <h4 class="post-title">
                                            <a href="blog-single.html">How to convince recruiters.</a>
                                        </h4>
                                    </div>
                                                                          
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <!--Block two-->
                            <div class="blog-post twm-blog-post-3-outer">
                                <div class="wt-post-media">
                                    <a href="blog-single.html"><img src="images/blog/latest/bg11.jpg" alt=""></a>
                                </div>                                    
                                <div class="wt-post-info">
                                    <div class="wt-post-meta ">
                                        <ul>
                                            <li class="post-date">March 05, 2023</li>
                                            <li class="post-author">By <a href="candidate-detail.html">David Wish</a></li>
                                        </ul>
                                    </div>
                                    <div class="wt-post-title ">
                                        <h4 class="post-title">
                                            <a href="blog-single.html">5 things to know about the March.</a>
                                        </h4>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <!--Block three-->
                            <div class="blog-post twm-blog-post-3-outer">
                                <div class="wt-post-media">
                                    <a href="blog-single.html"><img src="images/blog/latest/bg12.jpg" alt=""></a>
                                </div>                                    
                                <div class="wt-post-info">
                                    <div class="wt-post-meta ">
                                        <ul>
                                            <li class="post-date">March 05, 2023</li>
                                            <li class="post-author">By <a href="candidate-detail.html">Mike Doe</a></li>
                                        </ul>
                                    </div>
                                    <div class="wt-post-title ">
                                        <h4 class="post-title">
                                            <a href="blog-single.html">Job Board is the most important</a>
                                        </h4>
                                    </div>
                                </div>                                
                            </div>
                        </div>                                                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- OUR BLOG END -->

    
    <!-- Testimonial START -->
    <div class="section-full p-t120 p-b90 site-bg-white twm-testimonial-page8-wrap">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                   <div>Testimonials</div>                                
                </div>
                <h2 class="wt-title">Jobseeker reviews through Jobzilla.</h2>
            </div>                  
            <!-- TITLE END-->
            <div class="twm-testimonial-page8-section">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="twm-testimonial-page8-left">
                            <div class="twm-media bounce2">
                                <img src="images/home-8/testimonial-3d-pic.png" alt="#">
                            </div>
                            <div class="testimonial-outline-text-small">
                                <span>Jobseeker</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="twm-testimonial-page8-right">
                            <div class="testimonial-thumb-1-wrap">
                                <div class="swiper testimonial-thumb-1">
                                    <div class="swiper-wrapper">
                                    <!--1-->
                                    <div class="swiper-slide">
                                        <div class="twm-testi-content">
                                            <div class="t-testimonial-top">
                                                <div class="t-quote"><i class="fa fa-quote-left"></i></div>
                                            </div>
                                            <div class="t-discription">I just got a job that I applied for via careerfy! I used the site all the time 
                                                during my job hunt.get notification everyday and you can easily apply 
                                                directly.</div>
                                            <div class="twm-testi-detail">
                                                <div class="twm-testi-name">Guy Hawkins</div>
                                                <div class="twm-testi-position">Software Engineering at Google</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="swiper-slide">
                                        <div class="twm-testi-content">
                                            <div class="t-testimonial-top">
                                                <div class="t-quote"><i class="fa fa-quote-left"></i></div>
                                            </div>
                                            <div class="t-discription">I just got a job that I applied for via careerfy! I used the site all the time 
                                                during my job hunt.get notification everyday and you can easily apply 
                                                directly.</div>
                                            <div class="twm-testi-detail">
                                                <div class="twm-testi-name">Collis Pong</div>
                                                <div class="twm-testi-position">UI/UX Designer</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="swiper-slide">
                                        <div class="twm-testi-content">
                                            <div class="t-testimonial-top">
                                                <div class="t-quote"><i class="fa fa-quote-left"></i></div>
                                            </div>
                                            <div class="t-discription">I just got a job that I applied for via careerfy! I used the site all the time 
                                                during my job hunt.get notification everyday and you can easily apply 
                                                directly.</div>
                                            <div class="twm-testi-detail">
                                                <div class="twm-testi-name">Nikola Tesla</div>
                                                <div class="twm-testi-position">Accountant</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--4-->
                                    <div class="swiper-slide">
                                        <div class="twm-testi-content">
                                            <div class="t-testimonial-top">
                                                <div class="t-quote"><i class="fa fa-quote-left"></i></div>
                                            </div>
                                            <div class="t-discription">I just got a job that I applied for via careerfy! I used the site all the time 
                                                during my job hunt.get notification everyday and you can easily apply 
                                                directly.</div>
                                            <div class="twm-testi-detail">
                                                <div class="twm-testi-name">Peter Hawkins</div>
                                                <div class="twm-testi-position">Medical Professed</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                                <div thumbsSlider="" class="swiper testimonial-thumbpic-1">
                                    <div class="swiper-wrapper">
                                        <!--thumb-1-->
                                        <div class="swiper-slide">
                                            <div class="twm-testi-media">
                                                <img src="images/home-6/testimonial/pic1.jpg" alt="#">
                                            </div>
                                        </div>
                                        <!--thumb-2-->
                                        <div class="swiper-slide">
                                            <div class="twm-testi-media">
                                                <img src="images/home-6/testimonial/pic2.jpg" alt="#">
                                            </div>
                                        </div>
                                        <!--thumb-3-->
                                        <div class="swiper-slide">
                                            <div class="twm-testi-media">
                                                <img src="images/home-6/testimonial/pic3.jpg" alt="#">
                                            </div>
                                        </div>
                                        <!--thumb-4-->
                                        <div class="swiper-slide">
                                            <div class="twm-testi-media">
                                                <img src="images/home-6/testimonial/pic2.jpg" alt="#">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                             </div>

                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
    <!-- Testimonial END -->
    
</div>
{% endblock %}