<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    
    <!-- PAGE TITLE HERE -->
    <title>Jobzilla Template | Home Page Style 11</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/feather.css' %}"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lc_lightbox.css' %}"><!-- Lc light box popup -->     
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/select.bootstrap5.min.css' %}"><!-- DASHBOARD select bootstrap  STYLE SHEET  -->     
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/scrollbar.css' %}"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}"> <!-- Flaticon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}"><!-- Swiper Slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"><!-- MAIN STYLE SHEET -->

    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'css/skins-type/skin-2.css' %}">
      

</head>

<body data-anm=".anm">
    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="wrapper">
                <div class="cssload-loader"></div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

	<div class="page-wraper">

        
     
        <!-- HEADER START -->
        <header  class="site-header header-style-3 h-page-11-hdr mobile-sider-drawer-menu">

            <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">  
                                    
                    <div class="container-fluid clearfix"> 
                
                        <div class="logo-header">
                            <div class="logo-header-inner logo-header-one">
                                <a href="index.html">
                                <img src="{% static 'images/logo-11.png' %}" alt="">
                                </a>
                            </div>
                        </div>  
                        
                        <!-- NAV Toggle Button -->
                        <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar icon-bar-first"></span>
                            <span class="icon-bar icon-bar-two"></span>
                            <span class="icon-bar icon-bar-three"></span>
                        </button> 

                        <!-- MAIN Vav -->
                        <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
                            <ul class=" nav navbar-nav">
                                <li class="has-mega-menu"><a href="{% url 'home' %}">Bosh sahifa</a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li><a href="index.html">Home-1</a></li>
                                                <li><a href="index-2.html">Home-2</a></li>
                                                <li><a href="index-3.html">Home-3</a></li>
                                                <li><a href="index-4.html">Home-4</a></li>
                                                <li><a href="index-5.html">Home-5</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="index-6.html">Home-6</a></li>
                                                <li><a href="index-7.html">Home-7</a></li>
                                                <li><a href="index-8.html">Home-8</a></li>
                                                <li><a href="index-9.html">Home-9</a></li>
                                                <li><a href="index-10.html">Home-10</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="index-11.html">Home-11</a></li>
                                                <li><a href="index-12.html">Home-12</a></li>
                                                <li><a href="index-13.html">Home-13</a></li>
                                                <li><a href="index-14.html">Home-14</a></li>
                                                <li><a href="index-15.html">Home-15</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="index-16.html">Home-16</a></li>
                                                <li><a href="index-17.html">Home-17</a></li>
                                                <li><a href="index-18.html">Home-18</a></li>
                                            </ul>
                                        </li>
                                   </ul>                                                                 
                                </li>
                                <li class="has-child"><a href="{% url 'gallery' %}">Galareya</a>
                                    <ul class="sub-menu">
                                        <li><a href="job-grid.html">Jobs Grid</a></li>
                                        <li><a href="job-grid-with-map.html">Jobs Grid with Map</a></li>
                                        <li><a href="job-list.html">Jobs List</a></li>
                                        <li class="has-child"><a href="javascript:;">Job Detail</a>
                                            <ul class="sub-menu">
                                                <li><a href="job-detail.html">Detail 1</a>
                                                <li><a href="job-detail-v2.html">Detail 2 </a>
                                            </ul> 
                                        </li>
                                        <li><a href="apply-job.html">Apply Jobs</a></li>
                                    </ul>                                                                 
                                </li>
                                <li class="has-child"><a href="{% url 'about' %}">Biz haqimizda</a>
                                    <ul class="sub-menu">
                                        <li><a href="employer-grid.html">Employers Grid</a></li>
                                        <li><a href="employer-list.html">Employers List</a></li>
                                        <li class="has-child"><a href="javascript:;">Employers Detail</a>
                                            <ul class="sub-menu">
                                                <li><a href="employer-detail.html">Detail 1</a>
                                                <li><a href="employer-detail-v2.html">Detail 2</a>
                                            </ul> 
                                        </li>
                                        <li><a href="employer-profile.html">Profile</a></li>
                                        <li><a href="employer-resume.html">Resume</a></li>
                                        <li><a href="employer-manage-jobs.html">Manage Jobs</a></li>
                                        <li><a href="employer-post-job.html">Post A Jobs</a></li>
                                        <li><a href="employer-transaction.html">Transaction</a></li>
                                        <li><a href="candidate-grid.html">Browse Candidates</a></li>
                                        <li><a href="employer-change-password.html">Change Password</a></li>
                                        <li><a href="employer-account-fresher.html">Register Fresher</a></li>
                                        <li><a href="employer-account-professional.html">Register Professionals</a></li>
                                    </ul>                                                                 
                                </li>
                                <li class="has-child"><a href="{% url 'contact' %}">Bog'lanish</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-1.html">About Us</a></li> 
                                        <li><a href="pricing.html">Pricing</a></li> 
                                        <li><a href="error-404.html">Error-404</a></li>
                                        <li><a href="faq.html">FAQ's</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="under-maintenance.html">Under Maintenance</a></li>
                                        <li><a href="coming-soon.html">Coming soon</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="after-login.html">After Login</a></li>
                                        <li><a href="icons.html">Icons</a></li> 
                                    </ul>                                                                
                                </li>
                                <li class="has-child"><a href="{% url 'home' %}">Candidates</a>
                                    <ul class="sub-menu">
                                        <li><a href="candidate-grid.html">Candidates Grid</a></li>
                                        <li><a href="candidate-list.html">Candidates List</a></li>
                                        <li class="has-child"><a href="javascript:;">Candidate Detail</a>
                                            <ul class="sub-menu">
                                                <li><a href="candidate-detail.html">Detail 1</a>
                                                <li><a href="candidate-detail-v2.html">Detail 2</a>
                                            </ul> 
                                        </li>
                                        <li><a href="candidate-dashboard.html">Dashboard</a></li>
                                        <li><a href="candidate-profile.html">My Pfofile</a></li>
                                        <li><a href="candidate-jobs-applied.html">Applied Jobs</a></li>
                                        <li><a href="candidate-my-resume.html">My Resume</a></li>
                                        <li><a href="candidate-saved-jobs.html">Saved Jobs</a></li>
                                        <li><a href="candidate-cv-manager.html">CV Manager</a></li>
                                        <li><a href="candidate-job-alert.html">Job Alerts</a></li>
                                        <li><a href="candidate-change-password.html">Change Passeord</a></li>
                                        <li><a href="candidate-chat.html">Chat</a></li>
                                    </ul>                                                                
                                </li>
                                <li class="has-child"><a href="javascript:;">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>                                        
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-grid-2.html">Blog Grid-2</a></li>                                        
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Detail</a></li>                                        
                                    </ul>                                
                                </li>
                            </ul>

                        </div>
                        
                        <!-- Header Right Section-->
                        <div class="extra-nav header-2-nav">
                            <div class="extra-cell">
                                <div class="header-search">
                                    <a href="#search" class="header-search-icon"><i class="feather-search"></i></a>
                                </div>                                
                            </div>
                            <div class="extra-cell">
                                <div class="header-nav-btn-section">
                                    {% if request.user.is_authenticated %}
                                    <div class="twm-nav-btn-right">
                                        <a href="{% url 'dashboard' %}" class="twm-nav-post-a-job">
                                            <i class="feather-briefcase"></i> Post a job
                                        </a>
                                    </div>
                                    {% else %}
<div class="twm-nav-btn-left">
                                        <a class="twm-nav-sign-up"  href="{% url 'login' %}" role="button">
                                            <i class="feather-log-in"></i> Sign Up
                                        </a>
                                    </div>
                                    {% endif %}
                                    
                                    
                                    
                                </div>
                            </div> 
                                
                        </div>                            
                    
                                                    
                        
                    </div>    
                
                
                </div>

                <!-- SITE Search -->
                <div id="search"> 
                    <span class="close"></span>
                    <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                        <input class="form-control" value="" name="q" type="search" placeholder="Type to search"/>
                        <span class="input-group-append">
                            <button type="button" class="search-btn">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </span>
                    </form>
                </div> 
            </div>



            
             


            
        </header>
        <!-- HEADER END -->
    
        <!-- CONTENT START -->
      {% block content %}

      {% endblock %}
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <footer class="footer-dark">
            <div class="container">

                <!-- NEWS LETTER SECTION START -->
                <div class="ftr-nw-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ftr-nw-title">
                                Join our email subscription now to get updates 
                                on new jobs and notifications.
                            </div>
                        </div>
                        <div class="col-md-7">
                            <form>
                                <div class="ftr-nw-form">
                                    <input name="news-letter" class="form-control" placeholder="Enter Your Email" type="text">
                                    <button class="ftr-nw-subcribe-btn">Subscribe Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- NEWS LETTER SECTION END -->
                <!-- FOOTER BLOCKES START -->  
                <div class="footer-top">
                    <div class="row">

                        <div class="col-lg-3 col-md-12">
                            
                            <div class="widget widget_about">
                                <div class="logo-footer clearfix">
                                    <a href="index.html"><img src="images/logo-white.png" alt=""></a>
                                </div>
                                <p>Many desktop publishing packages and web page editors now.</p>
                                <ul class="ftr-list">
                                    <li><p><span>Address :</span>65 Sunset CA 90026, USA </p></li>
                                    <li><p><span>Email :</span>example@max.com</p></li>
                                    <li><p><span>Call :</span>555-555-1234</p></li>
                                </ul>
                            </div>                            
                            
                        </div> 

                        <div class="col-lg-9 col-md-12">
                            <div class="row">
                               
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="widget widget_services ftr-list-center">
                                        <h3 class="widget-title">For Candidate</h3>
                                        <ul>
                                            <li><a href="dashboard.html">User Dashboard</a></li>
                                            <li><a href="dash-resume-alert.html">Alert resume</a></li>
                                            <li><a href="candidate-grid.html">Candidates</a></li>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-single.html">Blog single</a></li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="widget widget_services ftr-list-center">
                                        <h3 class="widget-title">For Employers</h3>
                                        <ul>
                                            <li><a href="dash-post-job.html">Post Jobs</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="job-list.html">Jobs Listing</a></li>
                                            <li><a href="job-detail.html">Jobs details</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="widget widget_services ftr-list-center">
                                        <h3 class="widget-title">Helpful Resources</h3>
                                        <ul>
                                            <li><a href="faq.html">FAQs</a></li>
                                            <li><a href="employer-detail.html">Employer detail</a></li>
                                            <li><a href="dash-my-profile.html">Profile</a></li>
                                            <li><a href="error-404.html">404 Page</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">  
                                    <div class="widget widget_services ftr-list-center">
                                        <h3 class="widget-title">Quick Links</h3>
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-1.html">About us</a></li>
                                            <li><a href="dash-bookmark.html">Bookmark</a></li>
                                            <li><a href="job-grid.html">Jobs</a></li>
                                            <li><a href="employer-list.html">Employer</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>  

                        </div> 

                    </div>
                </div>
                <!-- FOOTER COPYRIGHT -->
                <div class="footer-bottom">
                
                    <div class="footer-bottom-info">
                    
                        <div class="footer-copy-right">
                            <span class="copyrights-text">Copyright © 2023 by thewebmax All Rights Reserved.</span>
                        </div>
                        <ul class="social-icons">
                            <li><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                            <li><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fab fa-instagram"></a></li>
                            <li><a href="javascript:void(0);" class="fab fa-youtube"></a></li>
                        </ul>
                        
                    </div>
                    
                </div>

            </div>
    
        </footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
        <!--Model Popup Section Start-->
            <!--Signup popup -->
        <!--Model Popup Section End-->

 	</div>



<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="{% static 'js/jquery-3.6.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script  src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script  src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script  src="{% static 'js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script  src="{% static 'js/dropzone.js' %}"></script><!-- IMAGE UPLOAD  -->
<script  src="{% static 'js/jquery.scrollbar.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/bootstrap-datepicker.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/jquery.dataTables.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/chart.js' %}"></script><!-- Chart -->
<script  src="{% static 'js/anm.js' %}"></script>
<script  src="{% static 'js/bootstrap-slider.min.js' %}"></script><!-- Price range slider -->
<script  src="{% static 'js/swiper-bundle.min.js' %}"></script><!-- Swiper JS -->
<script  src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->





</body>

</html>
