{% extends 'crm/main.html' %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
<link rel="stylesheet"
    href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %} ">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/select2/dist/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'%}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/components.css'%}">
<!-- Custom style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
<link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico'%}" />
<style>
    .show {
        display: block !important;
    }
</style>
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="row">
        <div class="col-12 col-md-6">
            <form action="" method="POST"> {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4>Yangi guruh qo'shish</h4> <br>
                        
                    </div>
                
                    <div class="card-body">
                        <p style="color: red;" >{{error}}</p>
                        <p style="color: green;" >{{message}}</p>
                        <div class="form-group">
                            <label>Nomi</label>
                            <input type="text" name="name" class="form-control">
                        </div>

                        <div id="form_group">
                            <hr>
                            <div class="form-group">
                                <label>Kursni tanlang</label>
                                <select class="form-control" name="cource">
                                    {% for c in course %}
                                    <option value="{{c.id}}">{{c.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="form_teacher">
                            <div class="form-group">
                                <label>O'qituvchi</label>
                                <select class="form-control" name="teacher">
                                    {% for c in teacher %}
                                    <option value="{{c.id}}">{{c.user.full_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <hr>
                        </div>
                       
                        <div id="form_days" style="display: none;">
                            <div class="form-group">
                                <label>Kunlar</label>
                                <select class="form-control" onchange="week_days()" id="week_day" name="days">
                                    {% for c in days %}
                                    <option value="{{c.id}}">{{c.name}}</option>
                                    {% endfor %}
                                    <option id="other_week_day" value="other_week_day">Boshqa kun</option>
                                </select>
                            </div>
                            <hr>
                        </div>

                        <div>
                            <div class="form-group" id="form_create_days">
                                <label>Hafta kunlar</label>
                                {% for w in week_days %}
                                <div class="form-check">
                                    <input class="form-check-input" name="week_days" value="{{w.id}}" type="checkbox"
                                        id="{{w.id}}">
                                    <label class="form-check-label" for="{{w.id}}">
                                        {{w.name}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                            <div id="form_rooms">
                                <div class="form-group">
                                    <hr>
                                    <label>Xona</label>
                                    <select class="form-control" name="room">
                                        {% for c in room %}
                                        <option value="{{c.id}}">{{c.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="form_begin_time">
                                <div class="form-group">
                                    <label>Vaqt</label>
                                    <select class="form-control" name="start_time">
                                        {% for c in start_time %}
                                        <option value="{{c.id}}">{{c.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label>Guruhni boshlanish sanasi</label>
                                <input type="text" name="begin_date" class="form-control datepicker">
                            </div>
                            <!-- <div class="form-group">
                        <hr>
                        <label>Guruhni tugash sanasi</label>
                        <input type="text" name="end_date" class="form-control datepicker">
                    </div> -->
                            <button type="submit" class="btn btn-icon icon-left btn-success"
                                style="float: inline-end;"><i class="fas fa-check"></i> Saqlash</button>
                        </div>


                        <script>
                            function week_days() {
                                other_week_day = document.getElementById("other_week_day").value;
                                week_day = document.getElementById("week_day").value;
                                console.log("onchange")
                                if (week_day.value == other_week_day) {
                                    document.getElementById("form_create_days").style.display = "block"
                                }
                                else {
                                    document.getElementById("form_create_days").style.display = "none"
                                }

                            }

                        </script>






                    </div>
            </form>
        </div>
    </div>
</div>
</div>

</div>
</div>


{% endblock %}
{% block script %}

<script src="{% static 'assets/js/app.min.js'%}"></script>
<!-- JS Libraies -->
<script src="{% static 'assets/bundles/cleave-js/dist/cleave.min.js'%}"></script>
<script src="{% static 'assets/bundles/cleave-js/dist/addons/cleave-phone.us.js'%}"></script>
<script src="{% static 'assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
<script src="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'%}"></script>
<script src="{% static 'assets/bundles/select2/dist/js/select2.full.min.js'%}"></script>
<script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/forms-advanced-forms.js'%}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js'%}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js'%}"></script>
{% endblock %}