{% extends 'crm/main.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
{% endblock %}
      {% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h4>Ma'lumotlar</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Kurs nomi:
                        </span>
                        <span class="float-right text-muted">
                          {{c.name}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Guruhlar soni:
                        </span>
                        <span class="float-right text-muted">
                          {{c.groups_count}} ta
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Kurs kodi:
                        </span>
                        <span class="float-right text-muted">
                          {{c.code|default:"-"}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Kurs narxi:
                        </span>
                        <span class="float-right text-muted">
                          {{c.price}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Kurs davomiyligi:
                        </span>
                        <span class="float-right text-muted">
                            {{c.month}} oy   ({{c.ducaration}})
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Izoh:
                        </span>
                        <span class="float-right text-muted">
                          {{c.comment|default:'-'}}
                        </span>
                      </p>
                    </div>
                    
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicModal">Kursni o'chirish</button>
                    
                  </div>
                </div>
                
              </div>
              <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      {% for g in c.groups %}
                        <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="g{{g.id}}-tab2" data-toggle="tab" href="#g{{g.id}}" role="tab"
                          aria-selected="true">{{g.name}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                        {% for g in c.groups %}
                      <div class="tab-pane fade  {% if forloop.counter == 1 %}show active{% endif %}" id="g{{g.id}}" role="tabpanel" aria-labelledby="g{{g.id}}-tab2">
                        <div class="row">
                          <div class="col-md-3 col-6 b-r">
                            <strong>Nomi</strong>
                            <br>
                            <p class="text-muted">{{g.name}}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Kurs</strong>
                            <br>
                            <p class="text-muted">{{g.cource.name}}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Mashg'ulot vaqtlari</strong>
                            <br>
                            <p class="text-muted">{{g.begin_date|date:"d.m.Y"}} - {{g.end_date|date:"d.m.Y"}}  ({{g.cource.month}} oy)</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Dars vaqti</strong>
                            <br>
                            <p class="text-muted">{% for i in g.week_days.week_days.all %} <i>{{i}}</i>  {% endfor %} <br> {{g.start_time.name}} da</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Talabalar soni</strong>
                            <br>
                            <p class="text-muted">{{g.students_count}} nafar</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Kurs narxi</strong>
                            <br>
                            <p class="text-muted">{{g.cource.price}} so'm</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Xona</strong>
                            <br>
                            <p class="text-muted">{{g.room.name}}</p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                    <div class="card-body">
                                      <div class="section-title mt-0">Talabalar</div>
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">FIO</th>
                                            <th scope="col">Telefon raqam</th>
                                            <th scope="col">Amal</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for s in g.students %}
                                          <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{s.user.full_name}}</td>
                                            <td>{{s.user.phone}}</td>
                                            <td><a href="{% url 'student_detail' s.id %}" style="display: flex; align-items: center;" class="dropdown-item has-icon"><i class="fas fa-eye"></i> Ko'rish</a></td>
                                          </tr>
                                          {% empty %}
                                          <tr>
                                            <td colspan="4"><i>Talabalar mavjud emas</i></td>
                                          </tr>
                                          {% endfor %}
                                          
                                        </tbody>
                                      </table>
                                      
                                    </div>
                                  
                            </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{c.name}} kursini rostdan ham o'chirishni xohlaysizmi?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete_cource" value="c.id">
                        <button type="submit" class="btn btn-danger"> O'chirish </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                </div>
              </div>
            </div>
          </div>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block script %}
      <script src="{% static 'assets/bundles/summernote/summernote-bs4.js' %}"></script>

      {% endblock %}