{% extends 'crm/main.html' %} {% load static %} {% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/pretty-checkbox/pretty-checkbox.min.css' %}">
<link rel="stylesheet"
  href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <h3>
            <span class="badge badge-light">{{g.cource.name}}</span> {{g.name}} * <a
              href="{% url 'teacher_detail' g.teacher.id %}">{{g.teacher.user.full_name}}</a>
          </h3>

          <br><br>

        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card card-primary">
            <div class="card-header">
              <h4>{{g.name}}</h4>
              {% if request.user.is_director or request.user.is_admin %}
              <div class="card-header-action">
                <div class="dropdown">
                  <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"
                    aria-expanded="false">Amallar</a>
                  <div class="dropdown-menu" x-placement="bottom-start"
                    style="position: absolute; transform: translate3d(0px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">

                    <a href="/admin/crm/group/{{g.id}}/change/" class="dropdown-item has-icon"><i
                        class="far fa-edit"></i> Tahrirlash</a>
                  </div>
                </div>
              </div>{% endif %}
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td><b>Kurs</b></td>
                    <td>{{g.cource.name}}</td>
                  </tr>
                  <tr>
                    <td><b>Guruh nomi</b></td>
                    <td>{{g.name}}</td>
                  </tr>
                  <tr>
                    <td><b>O'qituvchi</b></td>
                    <td><a href="{% url 'teacher_detail' g.teacher.id %}">{{g.teacher.user.full_name}}</a></td>
                  </tr>
                  <tr>
                    <td><b>O'quvchilar soni</b></td>
                    <td>{{g.students_count}} nafar</td>
                  </tr>
                  <tr>
                    <td><b>Kurs narxi</b></td>
                    <td>{{g.cource.price}} so'm</td>
                  </tr>
                  <tr>
                    <td><b>Kurs muddati</b></td>
                    <td>{{g.cource.month}} oy</td>
                  </tr>
                  <tr>
                    <td><b>Kurs kunlari</b></td>
                    <td>
                      {% for i in g.week_days.week_days.all %} <i>{{i}}</i>  {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td><b>Kurs davomiyligi</b></td>
                    <td>{{g.cource.ducaration}}</td>
                  </tr>
                  <tr>
                    <td><b>Xona</b></td>
                    <td>{{g.room}}</td>
                  </tr>
                  <tr>
                    <td><b>Dars boshlanishi vaqti</b></td>
                    <td>{{g.start_time}}</td>
                  </tr>
                  <tr>
                    <td><b>Dars boshlangan sana</b></td>
                    <td>{{g.begin_date|date:"d.m.Y"|default:"Guruh uchun darslar boshlanmagan"}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div>

          </div>
        </div>{% if request.user.is_director or request.user.is_admin or g.teacher.user == request.user %}
        <div class="col-12 col-sm-8 col-lg-8">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="davomad_olish-tab3" data-toggle="tab" href="#davomad_olish" role="tab"
                    aria-controls="profile" aria-selected="false">Davomat olish</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home"
                    aria-selected="true">Davomat</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                    aria-controls="profile" aria-selected="false">Chegirmali narx</a>
                </li>

              </ul>
              <div class="tab-content tab-bordered" id="myTab3Content">
                <div class="tab-pane fade show active" id="davomad_olish" role="tabpanel"
                  aria-labelledby="davomad_olish-tab3">
                  <form action="" method="POST">{% csrf_token %}
                    <div class="form-group">
                      <label>Sanani tanlang</label>
                      <select name="ad_date" onchange="submit()" class="form-control select2">
                        <option disabled selected>Sanani tanlang</option>
                        {% for d in g.days %}
                        
                        {% if d.date <= today %}
                        {% if request.user.is_director or request.user.is_admin %}
                            {% if ad_date == d.date %}
                            <option  value="{{d.id}}" selected>{{d.date|date:"d.m.Y"}}</option>
                            {% else %}
                            <option  value="{{d.id}}">{{d.date|date:"d.m.Y"}}</option>
                            {% endif %}
                        {% elif request.user.is_teacher %}
                        
                        {% if d.date == today %}
                        <option  value="{{d.id}}">{{d.date|date:"d.m.Y"}}</option>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% endfor %}
                      </select>
                    </div>
                  </form>
                    <form action="" method="POST">{% csrf_token %}
                      <input type="hidden" name="ad_date2" value="{{date_id.id}}">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">O'quvchi</th>
                          <th scope="col">Davomat</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for s in g.students %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{s.user.full_name}}</td>
                          <td>
                            <div class="pretty p-switch">
                            <input name="st_ad" value="{{s.id}}" type="checkbox" {% if date_id|student_is_has:s.id == False %} checked {% endif %} />
                            <div class="state p-danger">
                              <label></label>
                            </div>
                          </div>
                        </td>
                        </tr>
                        {% endfor %}
                       
                      </tbody>
                    </table>
                    <div style="display: flex; justify-content: end;">
                      <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                      <thead>
                        <tr>
                          <th>T/r</th>
                          <th>FIO</th>
                          {% for d in g.days %}
                          <th>
                            {% if d.date < today %} <span class="badge badge-primary">{{d.date|date:"d.m.Y"}}</span>
                              {% elif d.date > today %}
                              <span class="badge badge-light">{{d.date|date:"d.m.Y"}}</span>
                              {% else %}
                              <span class="badge badge-success">{{d.date|date:"d.m.Y"}}</span>
                              {% endif %}



                          </th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in g.students %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{c.user.full_name}}</td>
                          {% for d in g.days %}
                          <td>
                            {% if d.date <= today %}
                              {% if d|student_is_has:c.id == False %} 
                              <a href="#" class="btn btn-icon btn-danger"><b>X</b></a>
                              {% else %}
                              <a href="#" class="btn btn-icon btn-success">✓</a>
                              {% endif %}
                            {% else %}
                            <a href="#" class="btn btn-icon btn-light"><i class="fas fa-star"></i></a>
                            {% endif %}

                  </td>

                  {% endfor %}
                  </tr>
                  {% endfor %}
                  </tbody>
                  </table>
                </div>
              </div>

              <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                    <thead>
                      <tr>
                        <th>T/r</th>
                        <th>O'quvchi FIO</th>
                        <th>Narx</th>
                        <th>Sana</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in g.individual_prices %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'student_detail' c.student.id %}">{{c.student.user.full_name}}</a></td>
                        <td>{{c.price}} so'm</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td >Individual narxda o'quvchilar mavjud emas!</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>{% endif %}
    </div>
    {% if request.user.is_director or request.user.is_admin or request.user.is_teacher %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="display: flex; justify-content: space-between;">
            <h4>Guruh o'quvchilari</h4>
            {% if request.user.is_director or request.user.is_admin %} <a href="{% url 'add_student' %}" class="btn btn-icon icon-left btn-primary"><i class="far fa-user"></i>
              O'quvchi qo'shish</a>{% endif %}

          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover"  {% if request.user.is_director or request.user.is_admin %} id="tableExport" {% endif %} style="width:100%;">
                <thead>
                  <tr>
                    <th>T/r</th>
                    <th>FIO</th>
                    <th>Telefon raqam</th>
                    <th>Kurs narxi</th>
                    <th>Kursga kelgan sana</th>
                    <th>Kursga qatnashgan vaqti</th>
                    <th>Kelmagan kunlar</th>
                    {% if request.user.is_director or request.user.is_admin %}<th>Balans</th>
                    <th></th>{% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for c in students %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'student_detail' c.id %}">{{c.full_name}}</a></td>
                    <td>{{c.phone}}</td>
                    <td>{{c.price}} so'm {% if c.is_individual %} <i>(individual)</i> {% endif %} </td>
                    <td>{{c.begin_date|date:'d.m.Y'}}</td>
                    <td>{{c.kelgan_kunlar.years}} yil {{c.kelgan_kunlar.months}} oy {{c.kelgan_kunlar.days}} kun </td>
                    <td>{{c.attendence}} ta</td>
                    {% if request.user.is_director or request.user.is_admin %} <td>{% if c.is_debt %}
                      <button class="btn btn-danger">  Qarz: {{c.backlog}} so'm </button>
                      {% else %}
                      <button class="btn btn-info"> Balans {{c.balans}} so'm </button>
                      {% endif %}</td>
                      <td> <div class="card-header-action">
                        <div class="dropdown">
                          <a href="#" data-toggle="dropdown" class="btn btn-primary " aria-expanded="true"><i class="fas fa-ellipsis-v"></i></a>
                          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-5px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                           <div class="dropdown-divider"></div>
                            <form action="" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="leave_student" value="{{c.id}}">
                              <button style="display: flex; align-items: center;" class="dropdown-item has-icon text-danger" type="submit"> <i class="far fa-trash-alt"></i> Guruhdan chiqarish</button>
                            </form>
                          </div>
                        </div>
                      </div></td>{% endif %}
                    
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> {% endif %}
</div>
</section>
<div class="settingSidebar">
  <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
  </a>
  <div class="settingSidebar-body ps-container ps-theme-default">
    <div class=" fade show active">
      <div class="setting-panel-header">Setting Panel
      </div>
      <div class="p-15 border-bottom">
        <h6 class="font-medium m-b-10">Select Layout</h6>
        <div class="selectgroup layout-color w-50">
          <label class="selectgroup-item">
            <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
            <span class="selectgroup-button">Light</span>
          </label>
          <label class="selectgroup-item">
            <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
            <span class="selectgroup-button">Dark</span>
          </label>
        </div>
      </div>
      <div class="p-15 border-bottom">
        <h6 class="font-medium m-b-10">Sidebar Color</h6>
        <div class="selectgroup selectgroup-pills sidebar-color">
          <label class="selectgroup-item">
            <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
              data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
          </label>
          <label class="selectgroup-item">
            <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
              data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
          </label>
        </div>
      </div>
      <div class="p-15 border-bottom">
        <h6 class="font-medium m-b-10">Color Theme</h6>
        <div class="theme-setting-options">
          <ul class="choose-theme list-unstyled mb-0">
            <li title="white" class="active">
              <div class="white"></div>
            </li>
            <li title="cyan">
              <div class="cyan"></div>
            </li>
            <li title="black">
              <div class="black"></div>
            </li>
            <li title="purple">
              <div class="purple"></div>
            </li>
            <li title="orange">
              <div class="orange"></div>
            </li>
            <li title="green">
              <div class="green"></div>
            </li>
            <li title="red">
              <div class="red"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-15 border-bottom">
        <div class="theme-setting-options">
          <label class="m-b-0">
            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting">
            <span class="custom-switch-indicator"></span>
            <span class="control-label p-l-10">Mini Sidebar</span>
          </label>
        </div>
      </div>
      <div class="p-15 border-bottom">
        <div class="theme-setting-options">
          <label class="m-b-0">
            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting">
            <span class="custom-switch-indicator"></span>
            <span class="control-label p-l-10">Sticky Header</span>
          </label>
        </div>
      </div>
      <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
        <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
          <i class="fas fa-undo"></i> Restore Default
        </a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/page/datatables.js' %}"></script>
{% endblock %}

<!-- Template JS File -->

</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->

</html>