{% extends 'crm/main.html' %} {% load static %}
 {% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4>Talabalar</h4>
                    {% if request.user.is_director or request.user.is_admin %} <a href="{% url 'add_student' %}" class="btn btn-icon icon-left btn-primary"><i class="far fa-user"></i> O'quvchi qo'shish</a>{% endif %}
                    
                  </div>
                  
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover"  {% if request.user.is_director or request.user.is_admin %} id="tableExport" {% endif %} style="width:100%;">
                        <thead>
                          <tr>
                            <th>T/r</th>
                            <th>FIO</th>
                            <th>Telefon raqam</th>
                            <th>Guruh</th>
                            <th>O'qituvchi</th>
                            <th>Mashg'ulot sanalari</th>
                            {% if request.user.is_director or request.user.is_admin %} <th>Balans</th>
                            <th>Amallar</th>{% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for g in students %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'student_detail' g.id %}">{{g.user.full_name}}</a></td>
                            <td>{{g.user.phone}}</td>
                            <td> 
                              {% for s in g.group.all %}
                              <span class="badge m-3 badge-light">{{s.cource.name}}</span> {{s.name}}<br>{% empty %} Guruhga biriktitilmagan
                              {% endfor %}
                            </td>
                            <td>{% for s in g.group.all %}{{s.teacher.user.full_name}}<br>{% empty %}  {% endfor %}</td>
                            <td>{% for s in g.group.all %}{{s.begin_date|date:"d.m.Y"}} - {{s.end_date|date:"d.m.Y"}}<br>{% empty %}{% endfor %}
                            </td>
                            {% if request.user.is_director or request.user.is_admin  %} <td>{{g|student_sums:g.id|default:'0'}} so'm</td>
                            <td>
                              <div class="card-header-action">
                              <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="btn btn-primary " aria-expanded="true"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-5px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> Ko'rish</a>
                                  <a href="#" class="dropdown-item has-icon"><i class="far fa-edit"></i> Tahrirlash</a>
                                  <div class="dropdown-divider"></div>
                                  <a href="#" class="dropdown-item has-icon text-danger"><i class="far fa-trash-alt"></i>
                                    O'chirish</a>
                                </div>
                              </div>
                            </div>
                            </td>{% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
       
      </div>
    {% endblock %}
    {% block script %}
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
    {% endblock %}
  
  <!-- Template JS File -->
  
</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>