{% extends 'crm/main.html' %} {% load static %} {% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
{% endblock %}
      {% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                      <img alt="image" src="{{t.user.image.url}}" class="rounded-circle author-box-picture">
                      <div class="clearfix"></div>
                      <div class="author-box-name">
                        <a href="">{{t.user.full_name}}</a>
                      </div>
                      {% if request.user.is_director or request.user.is_admin %}<br><br>
                      <div>
                        <button type="button" class="btn btn-icon btn-primary" data-toggle="modal" data-target="#add_group" >
                          <i data-toggle="tooltip"   data-placement="top" title="" data-original-title="Guruhga qo'shish" class="fas fa-layer-group" ></i>
                        </button>
                        
                        <button type="button" data-toggle="modal" data-target="#add_payment" class="btn btn-icon btn-success">
                          <i  data-toggle="tooltip" data-placement="top" title="" data-original-title="To'lov qilish" class="fas fa-dollar-sign" ></i>
                        </button>
                        <button data-toggle="modal" data-target="#send_sms" type="button" class="btn btn-icon btn-warning" >
                          <i data-toggle="tooltip" data-placement="top" title="" data-original-title="SMS yozish" class="fas fa-envelope" ></i>
                        </button>
                        <button data-toggle="modal" data-target="#add_note" type="button" class="btn btn-icon btn-info">
                          <i  data-toggle="tooltip" data-placement="top" title="" data-original-title="Eslatma qo'shish" class="fas fa-clipboard-list" ></i>
                        </button>
                        <button type="button" class="btn btn-icon btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tahrirlash">
                          <a style="color: #fff;" href=""><i  class="far fa-edit" ></i></a> 
                        </button>
                        <button data-toggle="modal" data-target="#student_delete" type="button" class="btn btn-icon btn-danger">
                         <i  data-toggle="tooltip" data-placement="top" title="" data-original-title="O'chirish" class="fas fa-trash-alt" ></i>
                          
                        </button>
                      </div> {% endif %}
                    </div>
                   
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>Ma'lumotlar</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Tug'ilgan kun:
                        </span>
                        <span class="float-right text-muted">
                          {{t.user.birthday|date:'d-m-Y'}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Telefon raqam
                        </span>
                        <span class="float-right text-muted">
                            {{t.user.phone}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Elektron pochta
                        </span>
                        <span class="float-right text-muted">
                            {{t.user.email|default:'Kiritilmagan'}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Manzil
                        </span>
                        <span class="float-right text-muted">
                          {{t.user.address|default:'Kiritilmagan'}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Passport seriya
                        </span>
                        <span class="float-right text-muted">
                          {{t.user.passport|default:'Kiritilmagan'}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Jinsi
                        </span>
                        <span class="float-right text-muted">
                          {{t.user.gender.name|default:'Kiritilmagan'}}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                {% if request.user.is_director or request.user.is_admin or t.user == request.user %}
                <div class="card">
                  <div class="card-header">
                    <h4>Eslatmalar</h4>
                  </div>
                  <div class="card-body">
                    {% for n in notes %}
                    {% if n.is_view %}
                    <div class="alert alert-light alert-has-icon">
                      <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                      <div class="alert-body">
                        <div class="alert-title">{{n.text}}</div>
                        {{n.user.full_name}} <i>{{n.create_date|date:"d.m.Y H:i"}}</i>
                      </div>
                    </div>
                    {% else %}
                    <div class="alert alert-info alert-has-icon">
                      <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                      <div class="alert-body">
                        <div class="alert-title">{{n.text}}</div>
                        {{n.user.full_name}} <i>{{n.create_date|date:"d.m.Y H:i"}}</i>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      {% for g in s.group %}
                        <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="g{{g.group.id}}-tab2" data-toggle="tab" href="#g{{g.group.id}}" role="tab"
                          aria-selected="true">{{g.group.name}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                        {% for g in s.group %}
                      <div class="tab-pane fade  {% if forloop.counter == 1 %}show active{% endif %}" id="g{{g.group.id}}" role="tabpanel" aria-labelledby="g{{g.group.id}}-tab2">
                        <div class="row">
                          <div class="col-md-3 col-6 b-r">
                            <strong>Nomi</strong>
                            <br>
                            <p class="text-muted">{{g.group.name}}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Kurs</strong>
                            <br>
                            <p class="text-muted">{{g.group.cource.name}}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Mashg'ulot vaqtlari</strong>
                            <br>
                            <p class="text-muted">{{g.group.begin_date|date:"d.m.Y"}} - {{g.group.end_date|date:"d.m.Y"}}  ({{g.group.cource.month}} oy)</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Dars vaqti</strong>
                            <br>
                            <p class="text-muted">{% for i in g.group.week_days.week_days.all %} <i>{{i}}</i>  {% endfor %} <br> {{g.group.start_time.name}} da</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Xona</strong>
                            <br>
                            <p class="text-muted">{{g.group.room.name}}</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Talabalar soni</strong>
                            <br>
                            <p class="text-muted">{{g.group.students_count}} nafar</p>
                          </div>
                          {% if request.user.is_director or request.user.is_admin or t.user == request.user %}
                          <div class="col-md-3 col-6">
                            <strong>Kurs narxi </strong>
                            <br>
                            <p class="text-muted">{{g.price}} so'm {% if g.is_individual %} <i>(individual)</i> {% endif %}</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Kursda vaqti: </strong>
                            <br>
                            <p class="text-muted">{{g.kelgan_kunlar.years}} yil {{g.kelgan_kunlar.months}} oy {{g.kelgan_kunlar.days}} kun</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Qilingan to'lov </strong>
                            <br>
                            <p class="text-muted">{{g.moliya}} so'm</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Qilinishi kerak bo'lgan to'lov: </strong>
                            <br>
                            <p class="text-muted">{{g.given_sum}} so'm</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Qoldirilgan darslar soni: </strong>
                            <br>
                            <p class="text-muted">{{g.attendence}} ta</p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Qoldirilgan darslar kunlari: </strong>
                            <br>
                            <p class="text-muted">
                              {% for a in g.attendence_all %}
                              <span class="badge badge-light">{{a.day.date|date:'d-m-Y'}}</span>
                              {% empty %}
                              Mavjud emas
                              {% endfor %}
                            </p>
                          </div> {% endif %}
                        </div>
                        {% if request.user.is_director or request.user.is_admin or t.user == request.user %}
                        {% if g.is_debt %}
                        <button class="btn btn-danger">  Qarz: {{g.backlog}} so'm </button>
                        {% else %}
                        <button class="btn btn-info"> Balans {{g.balans}} so'm </button>
                        {% endif %} {% endif %}
                      </div>
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>{% if request.user.is_director or request.user.is_admin or t.user == request.user %}
                  <div class="card">
                    <div class="card-header">
                      <h2>To'lovlar</h2>
                      
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                          <thead>
                            <tr>
                              <th>Sana</th>
                              <th>Miqdor</th>
                              <th>Guruh</th>
                              <th>Izoh</th>
                              <th>To'lov turi</th>
                              <th>Xodim</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for s in t|tulovlar:t.id %}
                            <tr>
                              <td>{{s.date|date:"d.m.Y"}}</td>
                              <td>{{s.sum}} so'm</td>
                              <td>{{s.group.name}}</td>
                              <td>{{s.comment}}</td>
                              <td>{{s.form_payment.name}}</td>
                              <td>{{s.ad_user.full_name}} <br>
                              <i>{{s.create_date|date:"d.m.Y"}}</i>
                              </td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="6">To'lovlar mavjud emas</td></tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>{% endif %}
              </div>
              
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="add_group" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">Guruhga qo'shish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST"> {% csrf_token %}
                  <div class="form-group">
                    <label>Guruhni tanlang</label>
                    <div class="input-group">
                      <select name="new_group" class="form-control" name="" id="">
                          <option disabled selected>Tanlang</option>
                          {% for g in groups %}
                            {% if g in t.group.all %}
                            {% else %}
                            <option value="{{g.id}}">{{g.cource.name}} - {{g.name}}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                      
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect">Saqlash</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="add_payment" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">To'lov qilish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST"> {% csrf_token %}
                  <div class="form-group">
                    <label>Pul miqdori</label>
                    <input type="number" name="m_sum" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>To'lov turi</label>
                    <select class="form-control" name="m_form_payment" id="">
                        <option disabled selected>Tanlang</option>
                        {% for g in form_payment %}
                          <option value="{{g.id}}">{{g.name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Izoh</label>
                    <textarea  name="m_comment" class="form-control"> </textarea>
                  </div>
                  <div class="form-group">
                    <label>Guruh</label>
                    <select class="form-control" name="m_group" id="">
                        <option disabled selected>Tanlang</option>
                        {% for g in t.group.all %}
                          <option value="{{g.id}}">{{g.cource.name}} - {{g.name}}</option>
                        {% endfor %}
                    </select>
                    
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect">Saqlash</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="send_sms" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">SMS jo'natish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST"> {% csrf_token %}
                  
                  <div class="form-group">
                    <label>Ota-ona</label>
                    <select name="sms_parent" class="form-control" name="m_form_payment" id="">
                        <option disabled selected>Tanlang</option>
                        {% for g in t.parent.all %}
                          <option value="{{g.id}}">{{g.phone}} {{g.full_name}} ({{g.type.name}})</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>SMS matni</label>
                    <textarea  name="sms_text" rows="40" id="m_comment_text" class="form-control"> </textarea>
                  </div>
                  {% for s in sms_shablon %}
                  <div class="color bg-light m-3 p-3" style="cursor: pointer;" onclick="document.getElementById('m_comment_text').value = `{{s.text}}`" >
                    <div>{{s.text}}</div>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect">Yuborish</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="add_note" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">Eslatma qo'shish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST"> {% csrf_token %}
                  <div class="form-group">
                    <label>Eslatma matni</label>
                    <textarea  name="note_text" style="height: 100px;" id="m_comment_text" class="form-control"> </textarea>
                  </div>
                 
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect">Yuborish</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="student_delete" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">O'quvchini rostdan ham o'chirishni istaysizmi?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST"> {% csrf_token %}
                  <input type="hidden" name="delete_student" value="{{t.id}}">
                  <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">
                   Bekor qilish
                  </button>
                  <button type="submit" class="btn btn-danger">O'chirish</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
        
        {% if message %}
        <div class="alert alert-success alert-dismissible show fade">
          <div class="alert-body">
            <button class="close" data-dismiss="alert">
              <span>×</span>
            </button>
            {{message}}
          </div>
        </div>
        {% endif %}

      </div>
      {% endblock %}

      {% block script %}
      <script src="{% static 'assets/bundles/summernote/summernote-bs4.js' %}"></script>

      {% endblock %}