{% extends 'crm/main.html' %} {% load static %}
 {% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4>Talabalar</h4>
                    <a href="{% url 'add_student' %}" class="btn btn-icon icon-left btn-primary"><i class="far fa-user"></i> O'quvchi qo'shish</a>

                  </div>
                  
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>T/r</th>
                            <th>O'quvchi</th>
                            <th>Guruh</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for s in students %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'student_detail' s.id %}">{{s.full_name}}</a> <br>{{s.phone}}</td>
                           
                            <td> 
                              <div id="accordion">
                                {% for g in s.group %}
                                <div class="accordion">
                                  <div class="accordion-header collapsed" role="button" data-toggle="collapse" data-target="#panel{{s.id}}-body-{{g.group.id}}" aria-expanded="false">
                                   <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <h4><a href="{% url 'group_detail' g.group.id %}">{{g.group.name}}</a></h4>
                                    {% if g.is_debt %}
                                        <button class="btn btn-danger">  Qarz: {{g.backlog}} so'm </button>
                                        {% else %}
                                        <button class="btn btn-info"> Balans {{g.balans}} so'm </button>
                                        {% endif %}
                                   </div>
                                  </div>
                                  <div class="accordion-body collapse" id="panel{{s.id}}-body-{{g.group.id}}" data-parent="#accordion" style="">
                                    <p class="clearfix">
                                      <span class="float-left">Guruh:  </span>
                                      <span class="float-right text-muted"> <a href="{% url 'group_detail' g.group.id %}">{{g.group.name}}</a> </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Dars boshlangan sana:  </span>
                                      <span class="float-right text-muted"> {{g.begin_date|date:'d.m.Y'}} </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Kurs narxi:  </span>
                                      <span class="float-right text-muted"> {{g.price}} so'm {% if g.is_individual %} <i>(Individual narx)</i> {% endif %}  </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Kursga qatnashgan vaqti:  </span>
                                      <span class="float-right text-muted"> {{g.kelgan_kunlar.years}} yil {{g.kelgan_kunlar.months}} oy {{g.kelgan_kunlar.days}} kun </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Qilingan to'lov:  </span>
                                      <span class="float-right text-muted"> {{g.moliya}} so'm </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Qilinishi kerak bo'lgan to'lov:  </span>
                                      <span class="float-right text-muted"> {{g.given_sum}} so'm </span>
                                    </p>
                                    <p class="clearfix">
                                      <span class="float-left">Qoldirilgan darslar soni:  </span>
                                      <span class="float-right text-muted"> {{g.attendence}} ta </span>
                                    </p>
                                    
                                  </div>
                                </div>
                                {% endfor %}
                               
                              </div>
                              {% for g in s.group %}
                              
                              {% endfor %}
                            </td>
                            
                            
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
       
      </div>
    {% endblock %}
    {% block script %}
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
    {% endblock %}
  
  <!-- Template JS File -->
  
</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>