{% extends 'crm/main.html' %}
{% block content %}
<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row mt-sm-4">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="author-box-center">
                  <img alt="image" src="{{request.user.image.url}}" class="rounded-circle author-box-picture">
                  <div class="clearfix"></div>
                  <div class="author-box-name">
                    <a href="#">{{request.user.full_name}}</a>
                  </div>
                </div>
                <div class="text-center">
                  
                  
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header">
                  <h4>Ma'lumotlar</h4>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Tug'ilgan kun:
                      </span>
                      <span class="float-right text-muted">
                        {{request.user.birthday|date:'d-m-Y'}}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Telefon raqam
                      </span>
                      <span class="float-right text-muted">
                          {{request.user.phone}}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Elektron pochta
                      </span>
                      <span class="float-right text-muted">
                          {{request.user.email|default:'Kiritilmagan'}}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Manzil
                      </span>
                      <span class="float-right text-muted">
                        {{request.user.address|default:'Kiritilmagan'}}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Passport seriya
                      </span>
                      <span class="float-right text-muted">
                        {{request.user.passport|default:'Kiritilmagan'}}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Jinsi
                      </span>
                      <span class="float-right text-muted">
                        {{request.user.gender.name|default:'Kiritilmagan'}}
                      </span>
                    </p>
                  </div>
                </div>
            </div>
            
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <div class="padding-20">
                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                      aria-selected="false">Sozlamalar</a>
                  </li>
                </ul>
                <div class="tab-content tab-bordered" id="myTab3Content">
                  
                  <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                    <form method="POST" class="needs-validation"> {% csrf_token %}
                      <div class="card-header">
                        <h4>Profile ma'lumotlarini o'zgartirish</h4>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-md-6 col-12">
                            <label>FIO</label>
                            <input type="text" name="full_name" class="form-control" value="{{request.user.full_name}}">
                          </div>
                          <div class="form-group col-md-6 col-12">
                            <label>Telefon raqam</label>
                            <input type="text" class="form-control" value="{{request.user.phone}}" disabled>
                          </div>
                          <div class="form-group col-md-6 col-12">
                            <label>Tug'ilgan sana  <i>(hozirda: {{request.user.birthday|date:'d.m.Y'}})</i> </label>
                            <input type="date" name="birthday" class="form-control" value="">
                          </div>
                        </div>
                       
                      
                      </div>
                      <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Profile ma'lumotlarni yangilash</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="settingSidebar">
      <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
      </a>
      <div class="settingSidebar-body ps-container ps-theme-default">
        <div class=" fade show active">
          <div class="setting-panel-header">Setting Panel
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Select Layout</h6>
            <div class="selectgroup layout-color w-50">
              <label class="selectgroup-item">
                <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                <span class="selectgroup-button">Light</span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                <span class="selectgroup-button">Dark</span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Sidebar Color</h6>
            <div class="selectgroup selectgroup-pills sidebar-color">
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Color Theme</h6>
            <div class="theme-setting-options">
              <ul class="choose-theme list-unstyled mb-0">
                <li title="white" class="active">
                  <div class="white"></div>
                </li>
                <li title="cyan">
                  <div class="cyan"></div>
                </li>
                <li title="black">
                  <div class="black"></div>
                </li>
                <li title="purple">
                  <div class="purple"></div>
                </li>
                <li title="orange">
                  <div class="orange"></div>
                </li>
                <li title="green">
                  <div class="green"></div>
                </li>
                <li title="red">
                  <div class="red"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <div class="theme-setting-options">
              <label class="m-b-0">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                  id="mini_sidebar_setting">
                <span class="custom-switch-indicator"></span>
                <span class="control-label p-l-10">Mini Sidebar</span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <div class="theme-setting-options">
              <label class="m-b-0">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                  id="sticky_header_setting">
                <span class="custom-switch-indicator"></span>
                <span class="control-label p-l-10">Sticky Header</span>
              </label>
            </div>
          </div>
          <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
            <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
              <i class="fas fa-undo"></i> Restore Default
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}