{% extends "Dashboard/main.html" %}
{% load static %}
{% block content %}
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2>Kontent Oynasi</h2>
            <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Job Submission Form</span></div>
        </div>


        <!--Basic Information-->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>O'qituvchi kontent yaratish oynasi</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form>
                    <div class="row">
                        <!--Job title-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Title</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_name" type="text"
                                        placeholder="Devid Smith">
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                            </div>
                        </div>

                        <!--Job Category-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group city-outer-bx has-feedback">
                                <label>Fanni tanlang</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="j-category" data-bv-field="size">
                                        <option disabled selected value="">Tanlang</option>
                                        <option>Accounting and Finance</option>

                                    </select>
                                    <i class="fs-input-icon fa fa-border-all"></i>
                                </div>

                            </div>
                        </div>

                        <!--Job Type-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>O'quv yilini tanlang</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="s-category" data-bv-field="size">
                                        <option class="bs-title-option" value="">Tanlang</option>
                                        <option>Full Time</option>
                                        <option>Freelance</option>
                                        <option>Part Time</option>
                                        <option>Internship</option>
                                        <option>Temporary</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-file-alt"></i>
                                </div>
                            </div>
                        </div>


                        <!--Offered Salary-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Guruhni tanlang</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="salary" data-bv-field="size">
                                        <option class="bs-title-option" value="">Tanlang</option>
                                        <option>$500</option>
                                        <option>$1000</option>
                                        <option>$1500</option>
                                        <option>$2000</option>
                                        <option>$2500</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Choraklikni tanlang</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="salary" data-bv-field="size">
                                        <option class="bs-title-option" value="">Tanlang</option>
                                        <option>$500</option>
                                        <option>$1000</option>
                                        <option>$1500</option>
                                        <option>$2000</option>
                                        <option>$2500</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Sanani tanlang</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="salary" data-bv-field="size">
                                        <option class="bs-title-option" value="">Tanlang</option>
                                        <option>$500</option>
                                        <option>$1000</option>
                                        <option>$1500</option>
                                        <option>$2000</option>
                                        <option>$2500</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <!--Experience-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Experience</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_Email" type="email"
                                        placeholder="E.g. Minimum 3 years">
                                    <i class="fs-input-icon fa fa-user-edit"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <div class="twm-pro-view-chart-wrap">

            <div class="col-lg-12 col-md-12 mb-4">
                <div class="panel panel-default site-bg-white m-t30">
                    <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0"><i class="far fa-list-alt"></i>All Candidates</h4>
                    </div>
                    <div class="panel-body wt-panel-body">
                        <div class="twm-D_table p-a20 table-responsive">
                            <table id="candidate_data_table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" onclick="checkAll(this)"></th>
                                        <th>Taqdimot</th>
                                        <th>Fayl nomini kiriting</th>
                                        <th>Faylni yuklang</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--1-->
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>
                                            <div class="twm-DT-candidates-list">
                                                <div class="twm-media">
                                                    <div class="twm-media-pic">
                                                        <img src="images/candidates/pic1.jpg" alt="#">
                                                    </div>
                                                </div>
                                                <div class="twm-mid-content">
                                                    <a href="#" class="twm-job-title">
                                                        <h4>Wanda Montgomery </h4>
                                                        <p class="twm-candidate-address">
                                                            <i class="feather-map-pin"></i>New York
                                                        </p>
                                                    </a>

                                                </div>

                                            </div>
                                        </td>
                                        <td>UI Designer</td>
                                        <td>15/06/2023 at 10:35 am</td>
                                        <td>
                                            <div class="twm-jobs-category"><input type="file" name="" id=""></div>
                                        </td>

                                    </tr>
                                    <!--2-->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-left">
            <button type="submit" class="site-button">Save Changes</button>
        </div>
    </div>

</div>

{% endblock %}