{% extends "Dashboard/main.html" %}
{% load static %}
{% block content %}
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2>Fan yaratish va o'qituvchi biriktirish</h2>
            <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Job Submission Form</span></div>
        </div>


        <!--Basic Information-->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>O'qituvchi kontent yaratish oynasi</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form>
                    <div class="row">
                        <!--Job title-->

                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>O'qituvchi biriktirish</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="salary" data-bv-field="size">
                                        <option class="bs-title-option" value="">Tanlang</option>
                                        <option>$500</option>
                                        <option>$1000</option>
                                        <option>$1500</option>
                                        <option>$2000</option>
                                        <option>$2500</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <!--Experience-->   
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Fan yaratish</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_Email" type="email"
                                        placeholder="E.g. Minimum 3 years">
                                    <i class="fs-input-icon fa fa-user-edit"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-left">
                        <button type="submit" class="site-button">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

</div>

{% endblock %}