{% extends "Dashboard/main.html" %}
{% load static %}
{% block content %}

        <!-- Page Content Holder -->
        <div id="content">

            <div class="content-admin-main">


            	<div class="wt-admin-right-page-header clearfix">
                    <h2>My Profile</h2>
                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Profile</span></div>
                </div>

                <form>
                <div class="panel panel-default">
                    <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0">Update Profile Image</h4>
                    </div>
                    <div class="panel-body wt-panel-body p-a20 m-b30 bg-white">
                        
                            <div class="dashboard-profile-section clearfix">
                                <div class="dashboard-profile-pic">
                                    <div class="dashboard-profile-photo">
                                        <img src="images/user-avtar/pic4.jpg" alt="">
                                        <div class="upload-btn-wrapper">
                                            <div id="upload-image-grid"></div>
                                            <button class="site-button button-sm">Upload Photo</button>
                                            <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                                        </div>
                                    </div>
                                </div>
                                
                            </div> 
                                   
                    </div>
                </div>

                <!--Basic Information-->
                <div class="panel panel-default">
                    <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0">Basic Informations</h4>
                    </div>
                    <div class="panel-body wt-panel-body p-a20 m-b30 ">
                        
                        <div class="row">
                                            
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Your Name</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_name" type="text" placeholder="Devid Smith">
                                            <i class="fs-input-icon fa fa-user "></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_phone" type="text" placeholder="(251) 1234-456-7890">
                                            <i class="fs-input-icon fa fa-phone-alt"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_Email" type="email" placeholder="Devid@example.com">
                                            <i class="fs-input-icon fas fa-at"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Website</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_website" type="text" placeholder="https://...">
                                            <i class="fs-input-icon fa fa-globe-americas"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Job Title</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_since" type="text" placeholder="Job Title">
                                            <i class="fs-input-icon fa fa-address-card"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Job Type</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Job Type" id="city" data-bv-field="size">
                                                <option class="bs-title-option" value="">Full Time</option>
                                                <option class="" value="">Part time</option>
                                                <option class="" value="">Freelance</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-file-alt"></i>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Qualification</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_since" type="text" placeholder="Qualification">
                                            <i class="fs-input-icon fa fa-user-graduate"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Language</label>
                                        <div class="ls-inputicon-box"> 
                                            <input class="form-control" name="company_since" type="text" placeholder="e.x English, Spanish">
                                            <i class="fs-input-icon fa fa-language"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Job Category</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Job Category" id="j-category" data-bv-field="size">
                                                <option class="bs-title-option" value="">IT & Software</option>
                                                <option class="" value="">Accountant</option>
                                                <option class="" value="">Bank Services</option>
                                                <option class="" value="">Hospital</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-border-all"></i>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Experience</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Experience" id="Experience" data-bv-field="size">
                                                <option>Select Experience</option>
                                                <option>Begginer</option>
                                                <option>01 Years</option>
                                                <option>02 Years</option>
                                                <option>03 Years</option>
                                                <option>04 Years</option>
                                                <option>05 Years</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-user-edit"></i>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Current Salary</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Current Salary" id="c_salary" data-bv-field="size">
                                                <option>Select Current Salary</option>
                                                <option>10-20 K</option>
                                                <option>20-30 K</option>
                                                <option>30-40 K</option>
                                                <option>40-50 K</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-dollar-sign"></i>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Expected Salary</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Expected Salary" id="e-salary" data-bv-field="size">
                                                <option>Select Expected Salary</option>
                                                <option>10-20 K</option>
                                                <option>20-30 K</option>
                                                <option>30-40 K</option>
                                                <option>40-50 K</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-dollar-sign"></i>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-12 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>Age</label>
                                        <div class="ls-inputicon-box">  
                                            <select class="wt-select-box selectpicker" name="Job type" data-live-search="true" title="Expected Salary" id="Age" data-bv-field="size">
                                                <option>Select Age</option>
                                                <option>20 Years+</option>
                                                <option>25+ Years</option>
                                                <option>30+ Years</option>
                                                <option>35+ Years</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-child"></i>
                                        </div>
                                        
                                    </div>
                                </div>                                                
                                <div class="col-lg-12 col-md-12">                                   
                                    <div class="text-left">
                                        <button type="submit" class="site-button">Save Changes</button>
                                    </div>
                                </div> 
                                                                    
                            
                        </div>
                                  
                    </div>
                </div>
                </form> 
       
                                                     
            </div>

    	</div>

      

{% endblock %}